{% extends 'users/layout.html' %}

{% block title %}Список пользователей{% endblock %}

{% block header %}{{ super() }}Вы на странице пользователей{% endblock %}
{% block content %}
{% if messages %}
 <ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category|e }}">{{ message|e }}</li>
    {% endfor %}
 </ul>
 {% endif %}

 <form action="{{ url_for('users_get')}}" method="get">
    <input type="text" name="term" value="{{ search|e }}">
    <input type="submit" value="Search">
</form>

<br><a href="{{ url_for('users_new')}}">Добавить пользователя</a>

<ul>
    {% for user in users %}
    <li>Имя: <a href="{{ url_for('users_show', id=user.id)}}">{{ user.name|e }}</a>, Email: {{ user.email|e }}</li>
    {% endfor %}
</ul>
{% endblock %}